<section class="container">
  <h4 i18n>Grant Access to Health Professionals</h4>

  <form [formGroup]="invitationForm" #formDirective="ngForm" (ngSubmit)="addInvitation(formDirective)" class="access-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" maxlength="50"/>
      <mat-hint align="end">{{invitationForm.value.email?.length}} / 50</mat-hint>

      @if (invitationForm.get('email')?.hasError('required')) {
        <mat-error i18n>Email is mandatory</mat-error>
      }

      @if (invitationForm.get('email')?.hasError('email')) {
        <mat-error i18n>Email is invalid</mat-error>
      }

      @if (invitationForm.get('email')?.hasError('repeated')) {
        <mat-error i18n>The professional: {{ invitationForm.value.email }} is already on your list</mat-error>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!invitationForm.valid">
      <mat-icon>person_add</mat-icon>
      <ng-container i18n>Add</ng-container>
    </button>
  </form>

  @if (defaultDataSource.length) {

    <mat-form-field class="search-input" appearance="outline">
      <mat-label i18n>Filter</mat-label>
      <input matInput #filterInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="professional">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> {{ element.professional }} </td>
      </ng-container>

      <ng-container matColumnDef="professionalAccepted">
        <th mat-header-cell *matHeaderCellDef i18n>Accepted by the professional</th>
        <td mat-cell *matCellDef="let element">
          <mat-button-toggle-group name="professionalAccepted" hideSingleSelectionIndicator disabled i18n-aria-label aria-label="Accepted by the professional">
            <mat-button-toggle [checked]="element.professionalAcceptedAt" i18n>Yes</mat-button-toggle>
            <mat-button-toggle [checked]="!element.professionalAcceptedAt" i18n>No</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <ng-container matColumnDef="patientAccepted">
        <th mat-header-cell *matHeaderCellDef i18n>Accepted by the patient</th>
        <td mat-cell *matCellDef="let element">
          <mat-button-toggle-group name="patientAccepted" (change)="changeAcceptance(element.professional, $event)" hideSingleSelectionIndicator i18n-aria-label aria-label="Accepted by the patient">
            <mat-button-toggle value="1" [checked]="element.patientAcceptedAt" i18n>Yes</mat-button-toggle>
            <mat-button-toggle value="" [checked]="!element.patientAcceptedAt" i18n>No</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef i18n>Requested at</th>
        <td mat-cell *matCellDef="let element"> {{ element.createdAt | date:'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef i18n>Actions</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button color="warn" i18n-title title="Remove" (click)="openDeletionDialog(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  }
</section>
