.container {
  margin: 8px;
  max-width: 1024px;
}

.entity-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

.file-input {
  margin-bottom: 20px;
}

.file-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.file-input input[type="file"] {
  display: block;
}