<h4 mat-dialog-title>{{ data.type }}</h4>
<mat-dialog-content class="mat-typography">
  <mat-card class="entiy-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ data.name }}</mat-card-title>
      <mat-card-subtitle>{{ data.timestamp }}</mat-card-subtitle>
    </mat-card-header>
    @if (data.image) {
      <img mat-card-image [src]="data.image" alt="Imagem"/>
    }
    <mat-card-content>
      <p>{{ data.description }}</p>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Fechar</button>
</mat-dialog-actions>