.container {
  margin: 8px 8px 0 8px;
}

.google-logo {
  height: 20px;
  margin-right: 6px;
  vertical-align: middle;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 320px;
}

.login-link{
  text-align: center;
  margin-top: 5px;
}