<section class="container">
  <form [formGroup]="registrationForm" #formDirective="ngForm" (ngSubmit)="registerWithEmailAndPassword(emailInput.value, passwordInput.value)" class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput #emailInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n>Password</mat-label>
      <input type="password" matInput #passwordInput formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n>Password Confirmation</mat-label>
      <input type="password" matInput formControlName="passwordConfirmation">
    </mat-form-field>
    @if (registrationForm.get('password')?.hasError('minlength')) {
      <mat-error i18n>Password must contain at least 6 characters</mat-error>
      <br>
    }
    @if (registrationForm.hasError('passwordsDontMatch')) {
      <mat-error i18n>The “Password” and “Password Confirmation” fields must be equals</mat-error>
      <br>
    }
    @if (registrationError) {
      <mat-error i18n>It was not possible to register with this email/password combination. You must use a valid email address that has never been registered before.</mat-error>
      <br>
    }
    <button mat-fab extended color="primary" type="submit" [disabled]="!registrationForm.valid" i18n>Register</button>
    <div class="login-link">
      <a v-allign="center" routerLink="/login" i18n>Login with existing account</a>
    </div>
  </form>

  <ng-container i18n>or</ng-container>
  &nbsp;
  <button mat-fab extended (click)="logInWithGoogle()">
    <img src="img/google-logo.svg" class="google-logo" />
    <ng-container i18n>Login with Google</ng-container>
  </button>
  <br>
</section>
