<section class="container">
  <h4 i18n>Access to My Information</h4>

  @if (defaultDataSource.length) {

    <mat-form-field class="search-input" appearance="outline">
      <mat-label i18n>Filter</mat-label>
      <input matInput #filterInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="columns[0]">
        <th mat-header-cell *matHeaderCellDef i18n>Date</th>
        <td mat-cell *matCellDef="let element"> {{ element[columns[0]] | date:'short' }} </td>
      </ng-container>

      <ng-container [matColumnDef]="columns[1]">
        <th mat-header-cell *matHeaderCellDef i18n>Professional</th>
        <td mat-cell *matCellDef="let element"> {{ element[columns[1]] }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  }
</section>

