<section class="container">
  <form [formGroup]="logInForm" #formDirective="ngForm" (ngSubmit)="logInWithEmailAndPassword(emailInput.value, passwordInput.value)" class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput #emailInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label  i18n>Password</mat-label>
      <input type="password" matInput #passwordInput formControlName="password">
    </mat-form-field>
    @if (logInError) {
      <mat-error i18n>Invalid email/password combination</mat-error>
    }
    <button mat-fab extended color="primary" type="submit" [disabled]="!logInForm.valid" i18n>Login</button>
    <div class="register-link">
      <a v-allign="center" routerLink="/register" i18n>Create account</a>
    </div>
  </form>

  <ng-container i18n>or</ng-container>
  &nbsp;
  <button mat-fab extended (click)="logInWithGoogle()">
    <img src="img/google-logo.svg" class="google-logo" />
    <ng-container i18n>Login with Google</ng-container>
  </button>
  <br>
</section>
