<section class="container">
  <h4>Cadastro de Eventos</h4>

  <form [formGroup]="entityForm" #formDirective="ngForm" (ngSubmit)="addEntity(formDirective, fileInput)" class="entity-form">
    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        @for (type of _object.keys(entityTypes).sort(); track type) {
          <mat-option [value]="type">
            {{ type }}
          </mat-option>
        }
      </mat-select>
      
      @if (entityForm.get('type')?.hasError('required')) {
        <mat-error>Tipo é obrigatório</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" maxlength="50"/>
      <mat-hint align="end">{{entityForm.value.name?.length}} / 50</mat-hint>
      
      @if (entityForm.get('name')?.hasError('required')) {
        <mat-error>Nome é obrigatório</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput formControlName="timestamp" type="datetime-local" [max]="today.toISOString().slice(0, 19)"/>
      
      @if (entityForm.get('timestamp')?.hasError('required')) {
        <mat-error>Data é obrigatória</mat-error>
      }
      @if (entityForm.get('timestamp')?.hasError('future')) {
        <mat-error>Data não pode ser no futuro</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" maxlength="500"></textarea>
      <mat-hint align="end">{{entityForm.value.description?.length}} / 500</mat-hint>
    </mat-form-field>

    <div class="file-input">
      <label for="file-upload">Imagem:</label>
      <input id="file-upload" #fileInput type="file" (change)="onFileChange($event)" />
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!entityForm.valid">Adicionar</button>
  </form>

  @if (defaultDataSource.length) {

    <mat-form-field class="search-input" appearance="outline">  
      <mat-label>Filtrar</mat-label>
      <input matInput #filterInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{ element.timestamp | date:'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element" class="entity-description"> {{ element.description }} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Imagem </th>
        <td mat-cell *matCellDef="let element">
          @if (element.image) {
            <img [src]="element.image" alt="Imagem" class="entity-image" />
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button color="primary" title="Detalhes" (click)="openDetailsDialog(i)">
            <mat-icon>pageview</mat-icon>
          </button>
          <button mat-icon-button color="warn" title="Remover" (click)="openDeletionDialog(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  }
</section>
